<div class="background">
  <div class="container">
    <div class="top">
      <button routerLink="/home">
        <img src="../../../assets/left.png" alt="" />
      </button>
      <h1>Redefinição de senha</h1>
    </div>
    <div class="inserts">
      <div class="ricardinho">
        <p>Insira seu email para o envio do código de confirmação</p>
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" placeholder="Insira seu email" />
      </div>
      <div class="fim">
        <button>Enviar código</button>
      </div>
    </div>
  </div>
</div>
